@tailwind base;
@tailwind components;
@tailwind utilities;


#herosection {
    background: url("./../public/plumbing-home.jpg"); 
    background-repeat: no-repeat;
    background-position: bottom, center; 
    background-size: cover;
    height: 100vh;
}

.boxShadow{
    box-shadow: 15px 15px #BBF1FF;
}

body{
   scroll-behavior: smooth; 
   
}
